<!DOCTYPE html>

<html>

<head>
    <title>Error</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="bg-image"></div>
    <div class="main-content">
        <%= error %>
        <br><br>
        <form action="/">
            <input type="submit" value="Search again" />
        </form>
    </div>
</body>

</html>